@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: "agright--regular";
  src: url(../assets/fonts/agright--regular.ttf);
}
@font-face {
  font-family: "LeagueSpartan-Black";
  src: url(../assets/fonts/LeagueSpartan-Black.ttf);
}
@font-face {
  font-family: "LeagueSpartan-Bold";
  src: url(../assets/fonts/LeagueSpartan-Bold.ttf);
}
@font-face {
  font-family: "LeagueSpartan-ExtraBold";
  src: url(../assets/fonts/LeagueSpartan-ExtraBold.ttf);
}
@font-face {
  font-family: "LeagueSpartan-ExtraLight";
  src: url(../assets/fonts/LeagueSpartan-ExtraLight.ttf);
}
@font-face {
  font-family: "LeagueSpartan-Light";
  src: url(../assets/fonts/LeagueSpartan-Light.ttf);
}
@font-face {
  font-family: "LeagueSpartan-Medium";
  src: url(../assets/fonts/LeagueSpartan-Medium.ttf);
}
@font-face {
  font-family: "LeagueSpartan-Regular";
  src: url(../assets/fonts/LeagueSpartan-Regular.ttf);
}
@font-face {
  font-family: "LeagueSpartan-SemiBold";
  src: url(../assets/fonts/LeagueSpartan-SemiBold.ttf);
}
@font-face {
  font-family: "LeagueSpartan-Thin";
  src: url(../assets/fonts/LeagueSpartan-Thin.ttf);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "LeagueSpartan-Light", -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
  color: #ffffff;
  overflow-y: auto;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.family-agright {
  font-family: "agright--regular" !important;
}
.family-black {
  font-family: "LeagueSpartan-Black" !important;
}
.family-bold {
  font-family: "LeagueSpartan-Bold" !important;
}
.family-extraBold {
  font-family: "LeagueSpartan-ExtraBold" !important;
}
.family-extraLight {
  font-family: "LeagueSpartan-ExtraLight" !important;
}
.family-light {
  font-family: "LeagueSpartan-Light" !important;
}
.family-medium {
  font-family: "LeagueSpartan-Medium" !important;
}
.family-regular {
  font-family: "LeagueSpartan-Regular" !important;
}
.family-semiBold {
  font-family: "LeagueSpartan-SemiBold" !important;
}
.family-thin {
  font-family: "LeagueSpartan-Thin" !important;
}

.font-white {
  color: #ffffff !important;
}
.font-black {
  color: #000000 !important;
}
.font-pink {
  color: #d75f5f !important;
}
.font-rosa {
color: #ba595d;
}
.font-gray {
  color: #746a69 !important;
}

.font-sm {
  font-size: 0.5rem;
}
.font-xs {
  font-size: 0.75rem;
}
.font-small {
  font-size: 0.875rem;
}
.font-normal {
  font-size: 1rem;
}
.font-medium {
  font-size: 1.2rem;
}
.font-xtra {
  font-size: 1.4rem;
}
.font-regular {
  font-size: 1.6rem;
}
.font-base {
  font-size: 1.8rem;
}
.font-lg {
  font-size: 2rem;
}
.font-xl {
  font-size: 2.5rem;
}
.font-big {
  font-size: 3rem;
}

.back-top {
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 48px;
  height: 48px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.back-top svg {
  color: #1a1a1a !important;
}
.box-number {
  background: rgba(255, 255, 255, 0);
  animation-name: box-show;
  animation-duration: 2s;
}
.bg-topo {
  background: url(../assets/background/Background.png) center top no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}
.bgTopo {
  background: url(../assets/background/bgtopo1.jpeg) center top no-repeat;
  background-size: cover; 
  height: 100%;
}
.bg-reservar {
  background: url(../assets/background/bg-reservar.jpeg) center top no-repeat;
  background-size: cover; 
  width: 100vw;
}
.textTopo {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 3rem;
}
.top-img {
  justify-content: center;
}
.imagemOculta {
  visibility: hidden;
  padding-bottom: 420px; 
}
.imgOculta {
  visibility: hidden;
  padding-bottom: 300px; 
}
.textReserva {
  text-align: center;
  text-transform: uppercase;
  color: #ba595d;
  letter-spacing: 0.1em;
}
.botaoReserva {
  align-content: center;
  opacity: 0.7;
  width: 300px;
}
.botaoContato {
  align-content: center;
  opacity: 0.7;
}
.buttonContato {
  align-self: center;
}
.inputEmail{
  background: transparent;
  border: none;
  width: 87%;
  right: 10px;
  height: 50%;
  outline-width: 0;
}
.inputFooter{
  background: transparent;
  border: none;
  width: 83%;
  right: 30px;
  height: 50%;
  outline-width: 0;
}
.inputBiografia{
  width: 55%;
  left: 5px;
  background: transparent;
  border: none;
  height: 50%;
  outline-width: 0;
}
.buttonReserva {
  color: white;
  align-self: center;
  align-content: center;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  padding-top: 3px;
  font-family: LeagueSpartan-Regular;
}
.reservaButton {
    width: 420px;
    align-self: center;
    align-content: center;
}
.evento {
  text-align: center;
  color: #ba595d;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  font-family: LeagueSpartan-Regular;
}
.textEvento {
  text-align: center;
  color: #746a69;
}
.tituloLine {
  text-align: center;
  text-transform: uppercase;
  color: #d75f5f;
  font-family: LeagueSpartan-Medium;
  letter-spacing: 0.025em;
}
.textLine {
  text-align: center;
  color: #746a69;
}
.buttonLine {
  width: 420px;
  justify-self: center;
  justify-items: center;
}
.buttonVaga {
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  align-self: center;
}
.botaoVaga {
  align-items: center;
  width: 720px;
  height: 60px;
}
.buttonEmail {
  width: 280px;
  height: 50px;
  border-radius: 0.5rem; 
  border-color: #d04c4f;
  border-style: double;
  background-color: #feb5b1;
  color: #ba595d;
  font-size: 1.2em;
}
.bgFolder {
  background: url(../assets/background/bgfolder.jpeg) center top no-repeat;
  background-size: cover; 
  padding-left: 10px;
  padding-right: 10px;
}
.bg-folder {
  background: url(../assets/background/Borboleta.png) center center no-repeat;
  background-size: cover; 
}
.folder-img {
  padding-top: 280px;
}
.tituloVideo {
  text-align: center;
  text-transform: uppercase;
  color: #ba595d;  font-family: LeagueSpartan-Medium;
  letter-spacing: 0.05em;
}
.imgVideo {
  width: 520px;
}
.descubra{
  text-align: center;
  text-transform: uppercase;
  color: #ba595d;
  font-family: LeagueSpartan-Regular;
  line-height: 1.75rem;
}
.durante{
  text-align: center;
  text-transform: uppercase;
  color: #ba595d;
  font-family: LeagueSpartan-Regular;
}
.entenda{
  text-align: center;
  color: #746a69;
  line-height: 1.45rem;
  font-family: LeagueSpartan-Regular;
}
.contatoBotao {
  width: 300px;
  align-content: center;
  opacity: 0.7;
}
.contatoButton {
  font-size: 1.2rem;
  align-self: center;
  padding-left: 30px;
  color: #ba595d;
}
.buttonVideo {
  width: 620px;
  opacity: 0.7;
}
.botaoVideo {
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  padding-top: 15px;
  font-family: LeagueSpartan-Regular;
}
.titulo-bio{
  text-align: center;
  text-transform: uppercase;
  font-family: agright--regular;
  color: #d75f5f;
}
.text-bio{
  text-align: left;
  text-transform: uppercase;
  color: black;
}
.descricao-bio {
  text-align: left;
  color: black;
  line-height: 1.5rem;
  /* padding-right: 620px; */
  font-family: LeagueSpartan-Regular;
}
/* 
.evento-img {
  place-self: center;

  width: 260px;
} */

.bg-footer {
  background: url(../assets/background/bg-footer.jpeg) center center no-repeat;
  background-size: cover; 
}
.titulo-footer{
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
.buttonFooter {
  align-self: center;
  text-align: left;
  font-size: 1.25rem;
  letter-spacing: 0.1em;
}
.botaoFooter {
  width: 360px;
  opacity: 0.7;
}
.textFooter {
  text-align: center;
}
.footer-text {
  text-align: left;
  padding-top: 10px;
  padding-bottom: 10px;
}
.bg-obrigadoDesk {
  background: url(../assets/background/bg-obrigado.png) center center no-repeat;
  background-size: cover; 
  height: 100vh;
}
.bg-obrigado {
  background: url(../assets/background/bg-obrigadoMobile.png) center center no-repeat;
  background-size: cover; 
  height: 100vh;

}
.saiba-title {  
  text-transform: uppercase;
  color: #b1484c;
  font-family: LeagueSpartan-Medium;
  text-align: center;
  line-height: 0.75;
}
.saiba-obrigada {  
  color: #b1484c;
  font-family: LeagueSpartan-Regular;
  text-align: center;
  line-height: 1;
  /* padding-bottom: 20px; */
}
.saiba-text {
  color: white;
  font-family: LeagueSpartan-Regular;
  text-align: center;
  line-height: 1.2;
}
.button-saiba {
  /* width: 580px; */
  align-items: center;
  /* padding-right: 60px;
  padding-top: 10px; */
}
.botao-saiba {
  text-transform: uppercase;
  font-family: LeagueSpartan-Regular;
}
.imgMac {
  width: 100%;
  height: auto;
}
.bars-tecnology {
  animation-name: slidein;
}
.btn-pink {
  background: white;
  width: 350px;
}
.btn-pink:hover {
  background: white;
}
.tec_dir {
  border-top-left-radius: 16px;
}
.tec_left {
  border-bottom-right-radius: 16px;
}
.strong {
  font-family: Montserrat-Light;
}
.whats-message {
  z-index: 9;
}
.w3-modal-content {
  border-radius: 2em;
}

.w3-container {
  padding: 2em 2em 0.8em;
}

/* .tituloTopo {
  text-align: center;
  text-transform: uppercase;
  font-size: 3rem;
} */
.modal-cancel {
    background-image: none;
    border: none;
    box-shadow: none;
    text-shadow: none;
    background-color: #EEEEEE;
    border-color: #ECECEC;
    border-radius: 0px;
    border-width: 1px;
    border-style: solid;
    color: #CCCCCC;
    height: 42px;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0em;
    line-height: 1;
    text-transform: capitalize;
    margin-bottom: 10px;
    margin-top: 0;
    padding-left: 5px !important;
    padding-right: 5px !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

.splide__pagination__page.is-active {
  background-color: #b40a7f !important;
}

.splide__arrow svg {
  fill: black !important;
}
@media only screen and (max-width: 1070px) {
  .textTopo {
    font-size: 2.5rem;
  }
}
@media only screen and (max-width: 960px) {
  .textTopo {
    font-size: 2rem;
  }
  .buttonVideo {
    width: 420px;
    opacity: 0.7;
  }
}
@media only screen and (max-width: 768px) {
  .textTopo {
    font-size: 1.8rem;
  }
  /* .buttonVideo {
    width: 420px;
    opacity: 0.7;
  } */
}
@media only screen and (max-width: 630px) {
  .textTopo {
    font-size: 1rem;
  }
}
@media only screen and (max-width: 360px) {
  .textTopo {
    font-size: 0.8rem;
  }
}
/* SCROLLBAR */
@media only screen and (min-width: 600px) {
  * {
    scrollbar-width: thin;
    scrollbar-color: #d7c7bd;
  }

  
  *::-webkit-scrollbar {
    width: 2px;
  }

  *::-webkit-scrollbar-track {
    background: white;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #d7c7bd;
    border-radius: 20px;
    border: 3px solid #d7c7bd;
  }

  * {
    box-sizing: border-box;
  }
}
/* SCROLLBAR */

/* 
@media only screen and (max-width: 600px) {
  .buttonReserva {
    font-size: 1.5rem;
  }
  .botaoVideo {
    font-size: 1.5rem;
  }
  .inputEmail{
    right: 10px;
  }
  .containerTopo{
    margin-top: 200px;
  }
} */
